<module>
	<rawname>music</rawname>
	<repo>standard</repo>
	<name>Music on Hold</name>
	<version>2.10.0.2</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<candisable>no</candisable>
	<canuninstall>no</canuninstall>
	<category>Settings</category>
	<description>Uploading and management of sound files (wav, mp3) to be used for on-hold music.</description>
	<changelog>
		*2.10.0.2* #5337, #4919
		*2.10.0.1* #5478 
		*2.10.0.0* new version changes
		*2.9.0.1* #4740
		*2.9.0.0* 2.9 Update
	</changelog>
	<menuitems>
		<music>Music on Hold</music>
	</menuitems>
	<location>release/2.10/music-2.10.0.2.tgz</location>
	<md5sum>a55da1a768e7f2aa7990fdc6de3287a8</md5sum>
</module>
