<module>
	<rawname>music</rawname>
	<name>On Hold Music</name>
	<version>1.1.1</version>
	<type>setup</type>
	<category>Module</category>
	<menuitems>
		<music>On Hold Music</music>
	</menuitems>
	<location>release/2.2/music-1.1.1.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-OHM</info>
	<md5sum>2d1ea6b3542aee0c719fbae5e6205d7f</md5sum>
</module>
